@import 'styles/helpers';

.button {
  padding: 6px 10px;
  border: 1.5px solid var(--color-borderAlt);
  background-color: var(--color-borderAlt);
  color: var(--color-buttonText);
  font-family: $fontFamily;
  font-size: 1em;

  &:disabled {
    border-color: var(--color-border);
    background-color: var(--color-border);
  }
}

.isOutline {
  background-color: var(--color-bg);
  color: var(--color-borderAlt);
}

.isLink {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color-text);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
