@import 'styles/helpers';

.button {
  padding: 6px 10px;
  border: 2px solid var(--color-borderAlt);
  background-color: var(--color-borderAlt);
  color: $colorWhite;
  font-family: $fontFamily;
  font-size: 1em;

  &:disabled {
    border-color: var(--color-border);
    background-color: var(--color-border);
  }
}

.isOutline {
  background-color: var(--color-bg);
  color: var(--color-text);
}
