$fontFamily: 'Cousine', source-code-pro, 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$colorDarkGray: #444;
$colorGray: #9a9a9a;
$colorGreen: #48c774;
$colorOffWhite: #f3f3f3;
$colorRed: #e2412b;
$colorWhite: #fff;
$colorYellow: #ffdd57;
