@import 'styles/helpers';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px;

  form {
    width: 100%;

    @include media('>=tablet') {
      max-width: 360px;
    }
  }
}
