@import 'styles/reset';
@import 'styles/helpers';

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;

  @include media('>tablet') {
    user-select: auto;
  }
}

html,
body,
#root {
  height: 100%;
}

html {
  --color-bg: #{$colorWhite};
  --color-border: #{$colorGray800};
  --color-borderAlt: #{$colorGray800};
  --color-buttonText: #{$colorGray100};
  --color-link: #{$colorGray800};
  --color-modalOverlay: rgba(#{rgb($colorGray900)}, 0.8);
  --color-modalShadow: #{$colorGray900};
  --color-placeholder: #{$colorGray300};
  --color-progressBarBg: #{$colorGray100};
  --color-progressBarBorder: #{$colorGray800};
  --color-swipeBorder: #{$colorGray100};
  --color-text: #{$colorGray800};
  --color-textAlt: #{$colorGray400};

  &[data-theme='dark'] {
    --color-bg: #{$colorGray800};
    --color-border: #{$colorGray500};
    --color-borderAlt: #{$colorGray900};
    --color-buttonText: #{$colorGray200};
    --color-link: #{$colorGray50};
    --color-placeholder: #{$colorGray700};
    --color-progressBarBg: #{$colorGray700};
    --color-progressBarBorder: transparent;
    --color-swipeBorder: #{$colorGray900};
    --color-text: #{$colorGray200};
    --color-textAlt: #{$colorGray700};
  }
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $fontFamily;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

input {
  padding: 4px 4px;
  border: 1px solid $colorGray100;
  outline: 0;
  background-color: $colorGray100;
  color: $colorGray800;
  font-family: $fontFamily;
  font-size: 1em;

  &:focus {
    border-color: $colorGray800;
  }
}

p {
  margin-bottom: 12px;
}

a {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
  }
}
