@import 'styles/helpers';

.transaction {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px dotted $colorDarkGray;
  background-color: $colorWhite;

  &:last-child {
    border-bottom: 0;
  }

  @include media('>tablet') {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.disabled {
  color: rgba($colorDarkGray, 0.24);
}

.date {
  width: 48px;
  margin-right: 12px;
  text-align: center;
}

.content {
  flex: 1;
  overflow: hidden;
}

.description {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.amount {
  margin-left: 24px;
}
