@import 'styles/helpers';

@include pulse;

.category {
  margin-bottom: 20px;
}

.progressContainer {
  position: relative;
  height: 12px;
  overflow: hidden;
  border: 1px solid var(--color-progressBarBorder);
  background-color: var(--color-progressBarBg);

  &.isLoading {
    animation: pulse 1s ease-in infinite;
    border-color: var(--color-placeholder);
    background-color: var(--color-placeholder);
  }
}

.progressBar {
  position: absolute;
  top: 0;
  height: 100%;
  border-right: 1px solid var(--color-progressBarBorder);

  &[data-color='under'] {
    background-color: $colorGreen;
  }

  &[data-color='close'] {
    background-color: $colorYellow;
  }

  &[data-color='over'] {
    background-color: $colorRed;
  }
}

.dateMarker {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  // background-color: $colorDarkGray;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
