@import 'styles/helpers';

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;

  @include media('>tablet') {
    justify-content: center;
    height: auto;
    margin-bottom: 8px;
  }
}

.monthLabel {
  @include media('>tablet') {
    display: none;
  }
}
